<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Panel</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{{url_for('static', filename='assets/vendor/aos/aos.css') }}"
      rel="stylesheet"
    />

    <link
      href="{{url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}"
      rel="stylesheet"
    />
    <link
      href=" {{url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}"
      rel="stylesheet"
    />

    <link
      href="{{url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}"
      rel="stylesheet"
    />

    <link
      href="{{url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}"
      rel="stylesheet"
    />

    <link
      href="{{url_for('static', filename='assets/css/style.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="index.html">PANEL C23-CD02</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a class="getstarted scrollto" href="#team">Tentang Kami</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <h1>Yuk, Cari Ikan Yang Paling Profit</h1>
            <h2>
              tim panel akan membantu anda menganalisa dan merekomendasikan ikan
              atau daerah untuk mengurangi kerugian anda
            </h2>
            <div class="d-flex justify-content-center justify-content-lg-start">
              <a href="/result1" class="btn-get-started scrollto">Ayo Mulai</a>
            </div>
          </div>
          <div
            class="col-lg-6 order-1 order-lg-2 hero-img"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <img
              src="https://storage.googleapis.com/panel-buck/ikan2.gif"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Team Section ======= -->
      <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Team PANEL (Pahlawan Nelayan)</h2>
            <p>Anggota</p>
          </div>

          <div class="row">
            <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img src="https://storage.googleapis.com/panel-buck/Panel2/Rai.png" class="img-fluid" alt="" />
                </div>
                <div class="member-info">
                  <h4>Satria Bagus Eka Candra (Leader)</h4>
                  <span>Cloud Computing</span>
                  <p>
                    Halo kenalin nama panggilan saya Rai. Saya dari 
                    <br>Universitas Mulawarman
                  </p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-lg-6 mt-4 mt-lg-0"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img src="https://storage.googleapis.com/panel-buck/Panel2/shofi.png" class="img-fluid" alt="" />
                </div>
                <div class="member-info">
                  <h4>Ya'sin Shofiani</h4>
                  <span>Machine Learning</span>
                  <p>
                    Halo kenalin nama panggilan saya Shofi. Saya dari
                    Universitas Gunadarma
                  </p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img src="https://storage.googleapis.com/panel-buck/Panel2/daffa.png" class="img-fluid" alt="" />
                </div>
                <div class="member-info">
                  <h4>Muhammad Daffa Putra Mahardika</h4>
                  <span>Cloud Computing</span>
                  <p>
                    Halo kenalin nama panggilan saya Daffa. Saya dari
                    Universitas Mulawarman
                  </p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img src="https://storage.googleapis.com/panel-buck/Panel2/ina.png" class="img-fluid" alt="" />
                </div>
                <div class="member-info">
                  <h4>Ina Tantri Nareswari</h4>
                  <span>Machine Learning</span>
                  <p>
                    Halo kenalin nama panggilan saya Ina. Saya dari 
                    <br>Institut Teknologi Sepuluh Nopember
                  </p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img src="https://storage.googleapis.com/panel-buck/Panel2/wahyu.png" class="img-fluid" alt="" />
                </div>
                <div class="member-info">
                  <h4>Wahyu Harry Saputra Sembiring</h4>
                  <span>Cloud Computing</span>
                  <p>
                    Halo kenalin nama panggilan saya Wahyu. Saya dari
                    Universitas Mulawarman
                  </p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img src="https://storage.googleapis.com/panel-buck/Panel2/rifki.png" class="img-fluid" alt="" />
                </div>
                <div class="member-info">
                  <h4>Rifki Rahman Nugraha</h4>
                  <span>Machine Learning</span>
                  <p>
                    Halo kenalin nama panggilan saya Rifki. Saya dari
                    <br>Universitas Sultan Ageng Tirtayasa
                  </p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Team Section -->
    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>PANEL</h3>
              <h3>C23-CD02</h3>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Powered by</h4>
              <img src="https://storage.googleapis.com/panel-buck/logo-fishku.png" alt="" />
            </div>

            <div class="col-lg-3 col-md-6 footer-links"></div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Supported by</h4>
              <img src="https://storage.googleapis.com/panel-buck/bangkit.png" alt="" width="50%" />
            </div>
          </div>
        </div>
      </div>

      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>PANEL</span></strong
          >. All Rights Reserved
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{{url_for('static',filename='assets/vendor/aos/aos.js') }}"></script>
    <script src="{{url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}s"></script>
    <script src="{{url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
    <script src="{{url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{url_for('static', filename='assets/js/main.js') }}"></script>
  </body>
</html>
